.status-card {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 20px;
  border-radius: 8px;
  color: #000;
  font-weight: bold;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}
.status-card .count {
  font-size: 2em;
}
.status-card.pending { background-color: #ffcccc; }
.status-card.working { background-color: #b3d1ff; }
.status-card.completed { background-color: #d3f1e4; }

.status-card.pending-active {
  background-color: #E44141; /* Color when pending card is clicked */
  color: white;  
}

.status-card.working-active {
  background-color: #198754; /* Color when working card is clicked */
  color: white;
}

.status-card.completed-active {
  background-color: #0DA759; /* Color when completed card is clicked */
  color: #ffff; 
}

.status-card.pending-active h4{
  color: #fff !important;
}
.status-card.pending-active h2{
  color: #fff !important;
}
.pending-active.a-pending::after{
  position: absolute;
  content: '';
  left: 45%;
  bottom: -15px;
  border-style: solid;
  border-width: 0 20px 20px 20px;
  border-color: transparent transparent #E44141 transparent;
  transform: rotate(179deg);transition: 1s;
}


.status-card.working-active h4{
  color: #fff !important;
}
.status-card.working-active h2{
  color: #fff !important;
}
.working-active.a-working::after{
  position: absolute;
  content: '';
  left: 45%;
  bottom: -15px;
  border-style: solid;
  border-width: 0 20px 20px 20px;
  border-color: transparent transparent #198754 transparent;
  transform: rotate(179deg);transition: 1s;
}

.status-card.completed-active h4{
  color: #fff !important;
}
.status-card.completed-active h2{
  color: #fff !important;
}
.completed-active.a-completed::after{
  position: absolute;
  content: '';
  left: 45%;
  bottom: -15px;
  border-style: solid;
  border-width: 0 20px 20px 20px;
  border-color: transparent transparent #0DA759 transparent;
  transform: rotate(179deg);transition: 1s;
}